<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>claw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2},{46,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{46,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>pet_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{1050,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,525}}</string>
                <key>sourceSize</key>
                <string>{1050,525}</string>
            </dict>
            <key>pet_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1050,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1050,525}}</string>
                <key>sourceSize</key>
                <string>{1050,525}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{528,57}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{528,57}}</string>
                <key>sourceSize</key>
                <string>{548,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{1720,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a4e1f3740c261ab0d0dad88dee98c0$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
