<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ui_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ui_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{38,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_turnoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,42},{22,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ui_turnon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{24,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Button.png</string>
            <key>size</key>
            <string>{52,114}</string>
            <key>textureFileName</key>
            <string>Button.png</string>
        </dict>
    </dict>
</plist>
